<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="username" label="שם משתמש" type="text" default="" />
	<setting id="Password_sdr" type="text" option = "hidden" label="סיסמא" default=""/>
	<setting id="test" type="action" label="בדוק פרטי התחברות" action="RunPlugin(plugin://plugin.video.movixws/default.py?mode=9&url=test)" option="close"/>
	<setting id="clean" type="action" label="נקה קאש" action="RunPlugin(plugin://plugin.video.movixws/default.py?mode=6&url=test)" option="close"/>
</settings>
